#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
	combos {
		compatible = "zmk,combos";

		combo_esc {
			timeout-ms = <30>;
			key-positions = <13 14>;
			bindings = <&kp ESC>;
		};

		combo_tab {
			timeout-ms = <30>;
			key-positions = <25 26>;
			bindings = <&kp TAB>;
		};

		combo_layer6 {
			timeout-ms = <50>;
			key-positions = <48 49>;
			bindings = <&mo 6>;
		};
	};

	macros {
		bt0_to_win: bt0_to_win {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 0>, <&to 0>;
		};

		bt1_to_win: bt1_to_win {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 1>, <&to 0>;
		};

		bt2_to_win: bt2_to_win {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 2>, <&to 0>;
		};

		bt3_to_mac: bt3_to_mac {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 3>, <&to 1>;
		};

		bt4_to_mac: bt4_to_mac {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 4>, <&to 1>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		Win-Default_Layer {
			bindings = <
&kp GRAVE  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5     &kp N6   &kp N7    &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T      &kp Y    &kp U     &kp I      &kp O     &kp P     &kp BSLH
&kp LCTRL  &kp A      &kp S     &kp D     &kp F      &kp G      &kp H    &kp J     &kp K      &kp L     &kp SEMI  &kp SQT   &kp EQUAL  &kp BSPC
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B      &kp N    &kp M     &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT &kp UP     &kp DEL
&kp LALT   &kp LGUI   &mo 7     &mo 4     &lt 2 SPACE           &kp RET  &lt 6 P   &kp LBKT   &kp RBKT  &kp LEFT  &kp DOWN  &kp RIGHT
			>;
		};

		Mac-Default_Layer {
			bindings = <
&kp GRAVE  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5     &kp N6   &kp N7    &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T      &kp Y    &kp U     &kp I      &kp O     &kp P     &kp BSLH
&kp LCTRL  &kp A      &kp S     &kp D     &kp F      &kp G      &kp H    &kp J     &kp K      &kp L     &kp SEMI  &kp SQT   &kp EQUAL  &kp BSPC
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B      &kp N    &kp M     &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT &kp UP     &kp DEL
&kp LGUI   &kp LALT   &mo 7     &mo 4     &lt 2 SPACE           &kp RET  &lt 6 P   &kp LBKT   &kp RBKT  &kp LEFT  &kp DOWN  &kp RIGHT
			>;
		};

		Win-Function_Layer {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		layer_3 {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		Win-Common_Layer {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		layer_5 {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		Num_Layer {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &kp F1     &kp F2    &kp F3    &kp F4     &kp F5     &kp F6   &kp F7    &kp F8     &kp F9    &kp F10   &trans
&trans     &kp N1     &kp N2    &kp N3    &kp N4     &kp N5     &kp N6   &kp N7    &kp N8     &kp N9    &kp N0    &trans    &kp F11    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &kp F12    &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		Setting_Layer {
			bindings = <
&trans        &trans        &trans        &trans        &trans        &trans     &trans   &trans    &trans     &trans    &trans    &trans
&bt BT_CLR    &bt BT_CLR_ALL &trans       &trans        &trans        &trans     &trans   &trans    &trans     &trans    &trans    &trans
&bt0_to_win   &bt1_to_win   &bt2_to_win   &bt3_to_mac   &bt4_to_mac   &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&to 0         &to 1         &trans        &trans        &trans        &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans        &trans        &trans        &trans        &trans                   &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		Mouse_Layer {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &mkp MB1  &mkp MB2  &mkp MB3  &trans     &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		Tab_Gesture_Layer {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &kp LC(W)
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		VDesk_Gesture_Layer {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &kp LC(LG(F4))
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};

		WinSnap_Gesture_Layer {
			bindings = <
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans     &trans     &trans   &trans    &trans     &trans    &trans    &trans    &trans     &trans
&trans     &trans     &trans    &trans    &trans                &trans   &trans    &trans     &trans    &trans    &trans    &trans
			>;
		};
	};
};
